* {
    box-sizing: border-box;
    padding: 1px;
    margin: 0;
}

body {
    background-color: lightblue;
}

nav {
    position: absolute;
    top: -10px;
    left: 1700px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    /* colors the letter that are inside the tags */
    color:black;  
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 25px;
    color:blue;
}

section {
    border-style: solid;
    border-color: blue;
    /* border-radius: 100px; */
    border-width: 10px;
    /* border-right: 0cap; */
    /* margin-right causes the border to shrink or adjust from the right. The bigger the pixels than the border will decrease going towards left */
    /* margin-right: 700px; */
}

/* the width will adjust the boundary on the section on the webpage */
/* id are # */
#about-me {
    width: 900px;
}

main section img {
    width: 240px;
    height: 300px;
/* if you uncomment below it will push everything to the left of the section box */
    /* display: flex;
    justify-content: space-evenly; */
}

#joey {
    width: 265px;
    height: 330px;
}

h3 {
    font-size: 18px;
    color: black;
    margin-top: 50px;
}

.hobbies {
    margin-top: 5px;
}

/* using the # is for the id= */
#niece {
    width: 270px;
    height: 300px;
}

#bookworm,
#jogging {
    width: 270px;
    height: 300px;
}

#projects {
    width: 900px;
}

#pic1 {
    height: 500px;
    width: 620px;
}

/* below: does not work for the flex but will work for the width adjustment */

/* #python,
#java {
    align-items: space-evenly;
} */

.work-pic {
    height: 200px;
    width: 200px;
}


/* .about-me #joey {
    margin-right: 30%;
    margin-left: 30%;
} */

/* .content div {
    display: flex;
    flex-direction: row;
} */

/* .float-left {
    width: 250px;
    height: 200px;
} */

/* p {
    font-size: 16px;
    width: 100px;
    text-align: center;
} */

/* aside section {
    display: flex;
    justify-content: center;
} */

/* aside section img {
    width: 230px;
    height: 250px;
} */


/* main fieldset img {
    width: 200px;
    height: 250px;
} */

/* main fieldset {
    width: 700px;
    height: 400px;
} */

/* aside fieldset {
    width: 700px;
    height: 700px;
} */



/* .header {
    display: flexbox; */
    /* padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: black; */
/* } */

/* .header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
} */


/* below are some hypothetical practices */
/* .whats-up {
    background-color: pink;
}

div {
    background-color: blue;
} */