* {
    box-sizing: border-box;
    padding: 1px;
    margin: 0;
}

body {
    background-color: lightblue;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    /* colors the letter that are inside the tags */
    color:black;  
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 25px;
    color:blue;
}

section {
    border-style: solid;
    border-color: blue;
    /* border-radius: 100px; */
    border-width: 10px;
    border-right: -10px;
    /* margin-right causes the border to shrink or adjust from the right. The bigger the pixels than the border will decrease going towards left */
    /* margin-right: 700px; */
}

/* the width will adjust the boundary on the section on the webpage */
/* id are # */
#about-me {
    width: 900px;
}

main section img {
    width: 240px;
    height: 300px;
/* if you uncomment below it will push everything to the left of the section box */
    /* display: flex;
    justify-content: space-evenly; */
}

#joey {
    width: 265px;
    height: 330px;
}

h3 {
    font-size: 18px;
    color: black;
    margin-top: 50px;
}

.hobbies {
    margin-top: 5px;
}

/* using the # is for the id= */
#niece {
    width: 270px;
    height: 300px;
}

#bookworm,
#jogging {
    width: 270px;
    height: 300px;
}

#projects {
    width: 900px;
}

#pic1 {
    height: 500px;
    width: 620px;
}

/* below: does not work for the flex but will work for the width adjustment */

/* #python,
#java {
    align-items: space-evenly;
} */

.work-pic {
    height: 200px;
    width: 200px;
}

h4 {
    font-size: 25px;
}

footer {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    border: 60px;
    border-style: solid;
    border-width: 10px;
    border-color: blue;
}

